img {
  height: 210px;
}

body {
  background-color: #CDF0EA;
}

label {
  font-family: 'Helvetica', sans-serif;
}

h1 {
  color: #256D85;
  font-family: 'Helvetica', sans-serif;
}

p {
  font-family: 'Helvetica', sans-serif;
}

li {
  font-family: 'Helvetica', sans-serif;
}

table {
  font-family: 'Helvetica', sans-serif;
}

h3 {
  color: #256D85;
  font-family: 'Helvetica', sans-serif;
}

hr {
  border-style: dotted none none;
  border-width: 2px;
  border height: thin;
  border-color: grey;
  width: 300px;
}
